.aboutaccordion {
  margin: 33px 14.5% 33px 14.5%;

  .abouttitle {
    background-color: $color-1;
    height: 52px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    padding: 0 12px 0 20px;

    p {
      line-height: 1.5;
      font-size: 24px;
      color: $color-3;
      font-weight: $font-weight-2;
    }
  }
  .aboutcontainer {
    background-color: $color-4;
    border-radius: 5px;
    position: relative;
    top: -13px;
    z-index: -1;

    p {
      padding: 40px 12px 27px 20px;
      color: $color-1;
      font-size: 24px;
    }
  }
  .container-closed {
    display: none;
  }
}
