.mobileslider {
  position: relative;
  border: solid 1px blue;
  width: 335px;
  .mobiledisplayedimage {
    width: 335px;
    height: 255px;
    border-radius: 10px;
    border: solid 1px blue;
  }
  .mobilearrowleft {
    position: absolute;
    top: 118px;
    left: 6px;
    background-color: blue;
  }
  .mobilearrowright {
    position: absolute;
    top: 118px;
    right: 6px;
    background-color: blue;
  }

  .mobilehide {
    display: none;
  }
}
